body {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.clear-img {
  font-size: 20px;
  cursor: pointer;
}
.clear-img:hover {
  font-size: 40px;
  cursor: pointer;
}

/* .picture > .span:hover {
  display: block;
} */
